
@model IEnumerable<Assignment_3__Teacher_Database.Models.Teacher>
@{
    ViewBag.Title = "list";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/New"> New Teacher</a>
    </nav>
    <h2>list of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="searchKey" />
        <input type="submit" name="search" />
    </form>

    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div>
                <a href="/teacher/show/@teacher.TeacherId">
                    @teacher.TeacherFname
                @teacher.TeacherLname
            </a>
        </div>
    </div>
}
</div>