
@{
    ViewBag.Title = "New";
}
<head>
    <script language="javascript" type="text/javascript">
        const fname = document.getElementById("TeacherFname");
        const lname = document.getElementById("Teacherlname");

        function validateInput() {
            if (fname.value === "") {
                fname.focus();
                return false;
            }

            if (lname.value === "") {
                lname.focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<h2>New Teacher</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />
    </div>

    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />
    </div>
    <div>
        <input type="submit" value="Create Teacher"/>
    </div>
</form>
