@model Assignment_3__Teacher_Database.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/teacher/list"> Back to Teachers</a>
        <a class="dellink" href="/teacher/deleteconfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/teacher/Update/@Model.TeacherId"> Update</a>
    </nav>

    <h2> @Model.TeacherFname @Model.TeacherLname </h2>
    <p> Has an id of </p> @Model.TeacherId
</div>